* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  a {
    color: white;
    text-decoration: none;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  .header {
    background-color: #2c3e50;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .hero-section {
    background-color: #18bc9c;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .image {
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 20px;
  }
  .sub-para {
    text-align: center;
    background-color: #f7f7f7;
    padding: 40px 0;
    color: #99a0a8;
  }
  .email {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #f7f7f7;
  }
  .email input {
    width: 20vw;
    padding: 10px;
  }
  .email button {
    padding: 10px 20px;
    background-color: #18bc9c;
    border-radius: 4px;
    border: none;
    color: white;
    cursor: pointer;
  }
  .email button:hover {
    background-color: #117a65;
  }
  .grass {
    text-align: center;
    padding-top: 40px;
    font-size: 30px;
    background-color: #f7f7f7;
    color: #99a0a8;
    padding-bottom: 20px;
  }
  .hr-line {
    padding: 20px 80px;
    background-color: #f7f7f7;
  }
  .card-wrapper {
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
  }
  .card {
    background-color: white;
  
    width: 300px;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    text-align: center;
    padding: 30px;
    border-radius: 4px;
  }
  .card-heading {
    font-size: 24px;
    font-weight: bold;
  }
  .card-desc {
    color: #333333;
  }
  .card-image {
    border-radius: 50%;
  }
  .card:hover {
    background-color: #117a65;
  }
  .journey {
    text-align: center;
    padding-top: 40px;
    font-size: 30px;
    background-color: #f7f7f7;
    color: #99a0a8;
    padding-bottom: 20px;
  }
  .journey-man {
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
  }
  .card-2 {
    background-color: white;
    height: 45vh;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    border-radius: 4px;
  }
  .card2-image {
    border-radius: 50%;
    padding: 20px;
  }
  
  .card-head1 {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 20px;
  }
  .card-desc1 {
    color: #333333;
    padding-bottom: 40px;
  }
  .card-2:hover {
    background-color: #117a65;
  }
  .network {
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 20px;
    color: #99a0a8;
    font-size: 30px;
  }
  .network-share {
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
  }
  .card-3 {
    background-color: white;
    height: 45vh;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    letter-spacing: normal;
    border-radius: 4px;
  }
  .card3-image {
    border-radius: 50%;
    padding: 20px;
  }
  .card-head2 {
    font-size: 20px;
    font-weight: bold;
  }
  .card-desc2 {
    padding: 20px;
    text-align: center;
  }
  .card-3:hover {
    background-color: #117a65;
  }
  .footer {
    background-color: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 70px;
    padding-right: 70px;
    gap: 50px;
    color: white;
  }
  .subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    text-align: center;
  }
  .about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    text-align: center;
  }
  .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    text-align: center;
  }
  .footer-1 {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 10px;
  }
  .footer-3 {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 10px;
  }
  .footer-2 {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 10px;
  }
  .ank {
    color: darkblue;
    padding-top: 10px;
  }